/*	Общее	*/

body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
	color: #149dde;
}

a:hover {
	color: #37b3ec;
}

/*	Голова	*/

#header {
	padding: 0 15px;
	width: 300px;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9997;
	transition: all ease-in-out 0.5s;
	transition: all 0.5s;
	position: fixed;
	overflow-y: auto;
	background: #040b14;
}

#header .profile img {
	margin: 15px auto;
	width: 120px;
	display: block;
	border: 7px solid #2c2f3f;
}

#header .profile h1 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	-moz-text-align-last: center;
	text-align-last: center;
	font-family: "Poppins", sans-serif;
}

#header .profile h1 {
	text-decoration: none;
	color: #ffffff;
}

#header .profile .social-links a {
	margin-right: 5px;
	font-size: 18px;
	padding: 10px;
	width: 37px;
	height: 37px;
	line-height: 1;
	border-radius: 50%;
	transition: 0.5s;
	display: inline-block;
	text-align: center;
	background: #212431;
	color: #ffffff;
}

#header .profile .social-links a:hover {
	text-decoration: none;
	background: #149dde;
}

#main {
	margin-left: 300px;
}

@media (max-width: 1199px) {
	#header {
		left: -300px;
	}
	#main {
		margin-left: 0;
	}
}

/* Десктопная секция навигации */

.nav-menu {
	padding: 30px 0 0;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
	font-size: 15px;
	padding: 12px 15px;
	margin-bottom: 8px;
	transition: 0.3s;
	display: flex;
	align-items: center;
	color: #a8a9b4;
}

.nav-menu a i,
.nav-menu a:focus i {
	font-size: 24px;
	padding-right: 8px;
	color: #6f7180;
}

.nav-menu .active,
.nav-menu .active:focus,
.nav-menu a:hover,
.nav-menu li:hover>a {
	text-decoration: none;
	color: #ffffff;
}

.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu a:hover i,
.nav-menu li:hover>a i {
	color: #149dde;
}


/* Мобильная секция навигации */

.mobile-nav-toggle {
	border-radius: 50px;
	font-size: 24px;
	height: 40px;
	width: 40px;
	right: 15px;
	top: 15px;
	transition: all 0.4s;
	line-height: 0;
	z-index: 9998;
	border: 0;
	outline: none !important;
	justify-content: center;
	display: inline-flex;
	align-items: center;
	position: fixed;
	cursor: pointer;
	color: #ffffff;
	background-color: #149dde;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active #header {
	left: 0;
}


/*	Главная красота сайта - Я	*/

#me {
	background: url("../img/me-bg.jpg") top center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

#me:before {
	background: rgba(5, 13, 23, 0.301);
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#me .me-container {
	position: relative;
	min-width: 300px;
	z-index: 2;
}

#me h1 {
	line-height: 56px;
	margin: 0 0 10px;
	font-size: 64px;
	font-weight: 700;
	color: #ffffff;
}

#me p {
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
}

#me p span {
	border-bottom: 3px solid #149dde;
	padding-bottom: 4px;
	letter-spacing: 1px;
	color: #ffffff;
}

@media (min-width: 1024px) {
	#me {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#me h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#me h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}


/*	Общее для всех секций	*/

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background: #f5f8fd;
}

.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 32px;
	position: relative;
	font-weight: bold;
	color: #173b6c;
}

.section-title h2::after {
	height: 3px;
	width: 50px;
	bottom: 0;
	left: 0;
	position: absolute;
	display: block;
	content: "";
	background: #149dde;
}

.section-title p {
	margin-bottom: 0;
}


/*	Обо мне	*/

.about .content h3 {
	font-size: 26px;
	font-weight: 700;
	color: #173b6c;
}

.about .content ul {
	padding: 0;
	list-style: none;
}

.about img {
	border-radius: 5px;
}

.about .content ul li {
	margin-bottom: 20px;
	align-items: center;
	display: flex;
}

.about .content ul strong {
	margin-right: 10px;
}

.about .content ul i {
	margin-right: 5px;
	font-size: 16px;
	line-height: 0;
	color: #149dde;
}


/*	Факты	*/

.facts {
	padding-bottom: 30px;
}

.facts .count-box {
	padding: 30px;
	width: 100%;
}

.facts .count-box i {
	font-size: 44px;
	line-height: 0;
	display: block;
	float: left;
	color: #149dde;
}

.facts .count-box span {
	margin-left: 60px;
	line-height: 40px;
	font-size: 48px;
	font-weight: 700;
	display: block;
	color: #050d18;
}

.facts .count-box p {
	padding: 15px 0 0;
	margin: 0 0 0 60px;
	font-size: 14px;
	color: #122f57;
	font-family: "Raleway", sans-serif;
}


/*	Скилз	*/

.skills .progress {
	height: 60px;
	border-radius: 0;
	background: none;
	display: block;
}

.skills .progress .skill {
	margin: 0 0 6px;
	font-weight: 600;
	padding: 0;
	display: block;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #050d18;
}

.skills .progress .skill .val {
	font-style: normal;
	float: right;
}

.skills .progress-bar-wrap {
	height: 10px;
	background: #dce8f8;
}

.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #149dde;
}


/*	Тулзы	*/

.tools .icon-box {
	margin-bottom: 20px;
}

.tools .icon {
	border: 1px solid #149dde;
	height: 54px;
	width: 54px;
	border-radius: 50%;
	transition: 0.5s;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
}

.tools .icon i {
	font-size: 24px;
	line-height: 0;
	color: #ffffff;
}

.tools .icon-box:hover .icon {
	background: #149dde;
}

.tools .icon-box:hover .icon i {
	color: #149dde;
}

.tools .title {
	font-size: 18px;
	margin-left: 80px;
	margin-bottom: 15px;
	font-weight: 700;
}

.tools .title a {
	color: #343a40;
}

.tools .title a:hover {
	color: #149dde;
}

.tools .description {
	margin-left: 80px;
	line-height: 24px;
	font-size: 14px;
}

/*	Сертификаты	*/

.papers{
	background: #f5f8fd;
}

.papers img{
	border-radius: 5px;
}


/*	Контакты	*/

.contact {
	padding-bottom: 130px;
}

.contact .info {
	padding: 30px;
	width: 100%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
	background: #ffffff;
}

.contact .info i {
	border-radius: 50px;
	font-size: 20px;
	height: 44px;
	width: 44px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	background: #dff3fc;
	color: #149dde;
}

.contact .info h4 {
	padding: 0 0 0 60px;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: 600;
	color: #050d18;
}

.contact .info p {
	padding: 0 0 10px 60px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #173b6c;
}

.contact .info .email p {
	padding-top: 5px;
}

.contact .info .social-links {
	padding-left: 60px;
}

.contact .info .social-links a {
	margin-right: 10px;
	font-size: 18px;
	padding: 8px 0;
	height: 36px;
	width: 36px;
	line-height: 1;
	transition: 0.3s;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	background: #333;
	color: #ffffff;
}

.contact .info .social-links a:hover {
	background: #149dde;
	color: #ffffff;
}
.contact img{
	border-radius: 5px;
}

.contact .info .address:hover i,
.contact .info .email:hover i,
.contact .info .phone:hover i {
	background: #149dde;
	color: #ffffff;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*	Ноги	*/

#footer {
	font-size: 14px;
	padding: 15px;
	width: 300px;
	z-index: 9999;
	bottom: 0;
	left: 0;
	position: fixed;
	color: #f4f6fd;
	background: #040b15;
}

.username{
	color: #b4dafc;
}

.username:hover{
	color: #2eafec;
}

#footer .credits {
	font-size: 13px;
	padding-top: 5px;
	text-align: center;
	color: #eaebf1;
}

@media (max-width: 1199px) {
	#footer {
		padding-right: 20px 15px;
		position: static;
		width: auto;
	}
}

/*	Кнопка "Наверх"	*/

.back-to-top {
	right: 15px;
	width: 40px;
	bottom: 15px;
	height: 40px;
	border-radius: 50px;
	opacity: 0;
	z-index: 996;
	transition: all 0.4s;
	position: fixed;
	visibility: hidden;
	background: #149dde;
}

.back-to-top i {
	font-size: 28px;
	line-height: 0;
	color: #ffffff;
}

.back-to-top:hover {
	color: #ffffff;
	background: #2eafec;
}

.back-to-top.active {
	opacity: 1;
	visibility: visible;
}

/*----------------------------------------------------------
Ну раз ты даже в css залез, вот тебе пасхалочка:
            teletype.in/@hud0shnik
Да, это мой телетайп, я его не сильно афиширую (на момент коммита) 
так что считай это падарком на новый год. :^)
----------------------------------------------------------*/
